<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.elecor" version="2.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Elecor</name>
    <description>
        Complex Launch Storyboard
    </description>
    <author email="kerrishotts@gmail.com" href="http://www.photokandy.com">
        Kerri Shotts
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="target-device" value="handset" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="cli-7.1.0" />
    
<plugin name="cordova-plugin-device" spec="1.1.6" />
<plugin name="cordova-plugin-device-orientation" spec="1.0.7" />
<plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
<plugin name="cordova-plugin-network-information" spec="1.2.1" />
<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
<plugin name="onesignal-cordova-plugin"  source="npm" />
<plugin name="cordova-plugin-splashscreen" source="npm" spec="latest" />
    <platform name="ios">
        <icon height="57" platform="ios" src="res/icon/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" platform="ios" src="res/icon/Icon-App-57x57@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icon/Icon-App-20x20@2x.png" width="40" />
        <icon height="80" platform="ios" src="res/icon/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" platform="ios" src="res/icon/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" platform="ios" src="res/icon/Icon-Small-50x50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icon/Icon-App-20x20@3x.png" width="60" />
        <icon height="120" platform="ios" src="res/icon/Icon-App-40x40@3x.png" width="120" />
        <icon height="180" platform="ios" src="res/icon/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icon/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" platform="ios" src="res/icon/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icon/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" platform="ios" src="res/icon/Icon-App-76x76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icon/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" platform="ios" src="res/icon/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icon/Icon-App-29x29@3x.png" width="87" />
        <icon platform="ios" src="res/icon/ItunesArtwork@2x.png" width="1024" height="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
    </platform>
    <engine name="ios" spec="latest" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
